 /*TABLETS*/
 @media screen and (max-width:767px) {
     body {
         background-color: #f5f5f5;
     }

     .col {
         @include flex;
         width: 50%;
     }

     .centrado {
         @include parrafosp;

         ul {
             font-size: small;
         }

         img {
             width: 20%
         }
     }

     @include parrafosp;


     
     /*Cambios a página -cotizador-*/
     @include listas;

     /*Cambios a página -contacto-*/
     form {
         box-sizing: border-box;
     }

     @include contactoinputtextarea;

     textarea {
         min-height: 10px;
         max-height: 80px;
         max-width: 400px;
     }

 }

 /*CELULARES PEQUEÑOS EN VERTICAL*/
 @media screen and (max-width:320px) {

     /*Cambios globales*/
     body {
         background-color: #f5f5f5;
         font-size: small;

         .card-title {
             font-size: small;
         }
     }
     
     .video{
        display: none;
     }

     .contenedor {
         img {
             width: 100%;
             height: auto;
         }

     }

     .centrado {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;

         ul {
             font-size: x-small
         }

         img {
             width: 15%
         }
     }

     .col {
         @include flex;
         width: 25%;

     }



     @include parrafosp;
     /*Cambios a página -cotizador-*/
     @include listas;

     /*Cambios a página -contacto-*/
     form {
         box-sizing: border-box;
     }

     @include contactoinputtextarea;

     textarea {
         min-height: 10px;
         max-height: 80px;
         max-width: 100px;
     }
 }

 /*CELULARES PEQUEÑOS EN HORIZONTAL*/
 @media screen and (max-width:480px) {
     body {
         background-color: #f5f5f5;
     }

     .col {
         @include flex;
         width: 50%;

     }

     .contenedor {
         img {
             width: 100%;
             height: auto;
         }
     }

     .centrado {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;

         ul {
             font-size: small;

         }

         img {
             width: 20%
         }
     }

     @include parrafosp;

     /*Cambios a página -cotizador-*/
     @include listas;




     /*Cambios a página -contacto-*/
     form {
         box-sizing: border-box;
     }

     @include contactoinputtextarea;

     textarea {
         min-height: 10px;
         max-height: 80px;
         max-width: 100px;
     }

     .video{
        display: none;
     }

 }

 /*TABLETS HORIZONTAL*/
 @media screen and (min-width:768px) and (max-width:1240px) {
     body {
         background-color: #f5f5f5;
     }

     .centrado {
         @include parrafosp;
     }

     .parrafosPrincipales {
         p {
             font-size: medium;
         }
     }

     .col {
         @include flex;
         width: 50%;
     }

     @include parrafosp;

     /*Cambios a página -contacto-*/
     form {
         box-sizing: border-box;
     }

     @include contactoinputtextarea;

     textarea {
         min-height: 10px;
         max-height: 80px;
         max-width: 700px;
     }

 }
