@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin parrafosp{
    .parrafosPrincipales{
        p{
            font-size: 75%;
           }     
}}

@mixin listas{
    .listadoCotizador{
         font-size: 50%;
           }     
}