/* Imports*/
@import "nav";
@import "mixins";
@import "variables";
@import "medias";


.h3{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 23px;
    text-decoration: underline;
}

.banner0800{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    padding: 15px;
    box-sizing: border-box 20px;
    font-weight: 700;
    background-image: map-get($map: $paleta, $key: "gradiente" );
    }


.parrafosPrincipales{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-items: stretch;
    align-content: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    background-color: map-get($map: $paleta, $key: "secundario" );
    color: map-get($map: $paleta, $key: "blanco" );
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.container{
    @include flex;
    padding-right: 15px;
    padding-left: 15px;
}

.parrafoAparte{
    @include flex;
margin: 10%;
}

.listadoCotizador{display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 15px;
    }



/*
.foot{
    background-color: map-get($map: $paleta, $key: "secundario" );
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: map-get($map: $paleta, $key:"blanco" );
    border-radius: 4px;
}
*/

/*.video{
    margin: 20px;
}*/

.col{
    text-align: center;
        @include flex;
    }

   


  /* Img header contacto */
  .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 30px;
    color: map-get($map: $paleta, $key: "blanco");
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif
}

  /* formulario de contacto */
  .contact_form{	
	width: 460px; 
	height: auto;
	margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
	background-color: #0535af; 
	padding-left: 30px;  
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #04acf5; 
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 20px; 
}


textarea{
  	background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #04acf5; 
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 20px; 
	padding-top: 15px; 
}


label{
  	display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #04acf5; 
	border-color: #04acf5; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  	cursor: pointer;
      p{
        color: #fff; 
    }
}

span{
	color: #04acf5; 
}


.aviso{
	font-size: 10px;  
	color: #b7b3b3;  
}

.titcontacto{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #ffffff;   
}

.contacto{
	font-size: 14px; 
	color: #ffffff; 
}

